@tailwind base;

@tailwind utilities;

@import (less) "~flickity/dist/flickity.css";

@import "front/typography";
@import "front/slider";
@import "front/article-grid";
@import "front/article-content";
@import "front/buttons";


button:disabled {
    @apply opacity-50;
}

@media screen and (max-width: 1024px) {
    .nav-drawer {
        transition: .3s;
        transform: translate3d(-100%,0,0);
    }

    .main-nav.open .nav-drawer {
        transform: translate3d(0,0,0);
    }
}

.admin-edited {
    ul {
      @apply list-disc list-inside my-4;
    }

    ol {
    @apply list-decimal list-inside my-4;
    }
}
